.box1 {
    width: 945px;
    height: 370px;
    background-image: url("../img/01.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* 上下が０　左右がauto */
    margin: 0 auto;
}
/* background: url("../img/01.jpg")no-repeat center center;
background-size: cover; */

.box1 p {
    color: white;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding-top: 90px;
}

.box2 {
    width: 945px;
    height: 370px;
    background-image: url("../img/02.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* 上下が０　左右がauto */
    margin: 0 auto;
}

.box2_title{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 120px;
}

.box2_text{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 70px;
}
